@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  background-size: auto;
  font-family: "Inter";
  display: block;
  font-family: 'Inter';
  overflow-x:hidden;

}
.stage {
  background-image: url(/background/image_1.png);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  /* position: relative; */
}

.logo img {
  width: 37px;
  margin-right: 2px;
  margin-left: 25px;
}
.logo a {
  font-size: 72px;
  background: -webkit-linear-gradient(
    90deg,
    rgba(13, 158, 167, 1) 0%,
    rgba(76, 191, 124, 1) 42%,
    rgba(111, 208, 99, 1) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font: "Poppins";
  font-size: 30px;
  font-weight: bolder;
  display: flex;
  align-items: center;
  position: var(15px);
}

.navbar {
  position: fixed;
  background: #010204;
  font-size: 24px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100vw;
  padding-top: 18px;
  padding-bottom: 15px;
  z-index: 99;
  top: 0;
}

.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li {
  list-style: none;
  display: inline-block;
}
li a {
  color: #ffffff;
  font-size: 18px;
  padding-right: 25px;
  padding-left: 25px;
  margin-left: 25px;
  margin-right: 25px;
}
li:hover{
  text-shadow: #FC0 1px 0 10px;
  transition: all 0.2s ease-in;
  transform: scale(1.1);
}
.brochure-button {
  color: red;
  background: skyblue;
  border: 2px solid transparent;
  padding: 10px 20px;
  font-size: 0.7em;
  font-weight: bold;
  margin-right: 70px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 25px;
  transition: color 0.4s, border-color 0.4s;
}

.brochure-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transition: transform 0.4s;
  transition: all 0.2s ease-in-out;
  z-index: -1;
  border-radius: 5px;
}

.brochure-button:hover::before {
  transform: translateX(20%);
}

.brochure-button a {
  color: #ffffff;
  transition: color 0.4s;
  font-family: "Inter";
}

.brochure-button:hover,
.brochure-button:hover a {
  transform: translateX(20%);
}

.section-1 {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 100px 20px;
  font-size: 2vh;
  margin-top: 30px;
  width: 100vw;
  margin-bottom: 100px;
  background-image: url(/background/stage-light.png);
}
.section-1 h1 {
  font-size: 15vh;
  margin-bottom: 35px;
  background-image: linear-gradient(180deg, #ffffffe5 0%, #ffffff8c 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-1 p {
  font-size: 18px;
  margin-bottom: 7px;
  color: whitesmoke;
  font-family: "Poppins";
}

#welcome {
  color: whitesmoke;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.3px;
  margin-bottom: 40px;
}

.download-brochure-button {
  background: none;
  border: 2px solid transparent;
  padding: 15px 22px;
  font-size: 1.1em;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 25px;
  transition: color 0.4s, border-color 0.4s;
}

.download-brochure-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: linear-gradient(90deg, rgba(13, 158, 167, 1) 0%,
      rgba(76, 191, 124, 1) 42%,
      rgba(111, 208, 99, 1) 100%);
  transition: transform 0.4s;
  transition: all 0.2s ease-in-out;
  z-index: -1;
  border-radius: 5px;
}

.download-brochure-button:hover::before {
  transform: translateX(-50%);
}

.download-brochure-button a {
  color: #fff;
  text-decoration: none;
  transition: color 0.4s;
  font-family: "Inter";
}

.download-brochure-button:hover,
.download-brochure-button:hover a {
  color: #000;
  transform: scale(1.1);
}

.container-1 {
  position: relative;
  width: 100vw;
  height: 130vh;
  margin-bottom: 100px;
  transition: all 0.2s ease-in-out;
}
.container-1:hover {
  transform: scale(1.05);
}

.overlay-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 80px;
  width: 90vw;
  height: auto;
}

.bento-grid {
  margin-left: 30px ;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  background-color: black;
}

.bento-item {
  background-color: #000000;
  padding: 20px;
  text-align: center;
  border-radius: 45px;
}

.bento-item.large {
  grid-column: span 1;
  grid-row: span 2;
  background-color: white;
  color: black;
  font-family: "Poppins";
}

.bento-item.large img {
  margin-left: -170px;
  border-radius: 45px;
  margin-bottom: -25px;
  width: 240px;
}

.bento-item.medium {
  grid-column: span 2;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-family: "poppins";
  background-color: rgb(0, 0, 0);
}

.bento-item.medium img {
  border-radius: 40px;
  width: 35%;
  margin-right: 30px;
}

.text3 {
  margin-bottom: 50px;
}

#why {
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 40px;
  margin-left: -400px;
  margin-top: -50px;
}

.text1 {
  color: rgb(0, 0, 0);
  /* font-size: 40px; */
}

.bento-item.middle {
  min-width: 25%;
  max-width: 30%;
  background-color: #4b2a14;
  font-family: "poppins";
  color: #fff;
  padding: 20px;
}

.bento-item.middle .highlight {
  color: #ffc107;
  font-weight: 800;
}

.service-heading{
  color: #ffffff;
  font-family: "Poppins";
  font-size: 12vh;
  font-weight: 600;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.service-section {
  width: 80vw;
  height: 100vh;
  position: relative;
  background-color: #ffffff;
  margin-left: 50px;
  margin-right: 50px;
}

.container-3 {
  text-align: center;
  background-color: #fff;
  border-radius: 70px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  padding-bottom: 100px;
  width: 85dvw;
  max-width: 90dvw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 100px;
}

/* Header styling */
.header {
  margin-top: 50px;
  margin-bottom: 70px;
}

.header h1 {
  font-size: 3em;
  margin-bottom: 10px;
}

/* Services grid */
.services {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  gap: 20px;
  margin-left: 20px;
  margin-right: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Service card styling */
.service-card {
  background-color: #1a1a1a;
  color: #fff;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  transition: transform 0.2s;
  padding-top: 20px;
  padding-bottom: 60px;
  padding-left: 30px;
  padding-right: 30px;
  flex: 1 1 calc(33% - 40px);
  max-width: calc(33% - 10px);
}

.service-card img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.service-card h3 {
  font-size: 1.7em;
  margin: 15px 0 10px;
  color: #00c2ff;
  font-family: "Inter";
}

.service-card p {
  font-size: 1.4em;
  font-family: "Poppins";
}

.service-card:hover,
.cardtoo:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .service-card {
      flex: 1 1 100%;
      max-width: 100%;
  }
}



.container-4 img {
  background-repeat: no-repeat;
  width: 100vw;
  height: auto;
  background-size: cover;
  margin-top: 80px;
  margin-bottom: 80px;
}

.container-5 {
  text-align: center;
  background-color: #fff;
  border-radius: 70px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  padding-bottom: 100px;
  width: 85%;
  max-width: 90vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 100px;
}

.container-5 header {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 70px;
}

.container-5 header h1 {
  font-size: 5em;
  margin-bottom: 20px;
  margin-top: 120px;
}

.container-5 header p {
  font-size: 1.2em;
  line-height: 1.4;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.cardtoo {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  flex: 1 1 calc(33.333% - 40px);
  max-width: calc(33.333% - 40px);
  min-width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.cardtoo img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.cardtoo h2 {
  font-size: 1.5em;
  margin: 15px 0;
}
.cardtoo:hover{
  box-shadow: #FC0 1px 0 10px;
}

.cardtoo p {
  font-size: 1em;
  color: #666;
}


/* Responsive Design */
@media (max-width: 768px) {
  .cardtoo {
    flex: 1 1 calc(50% - 40px);
    max-width: calc(50% - 40px);
  }
}

@media (max-width: 500px) {
  .cardtoo {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

/* .container-8 {
  position: static;
  width: 95vw;
  height: auto;
}
.container-8 img {
  background-repeat: no-repeat;
  width: 95vw;
  height: auto;
  background-size: cover;
  text-align: right;
  margin-top: 80px;
  margin-bottom: 80px;
  position: absolute;
  right: 0%;
} */



/* form css*/



 .form-container {
  
  border: 2px solid red;
  font-family: 'Inter';
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-height: 140dvh;
  width: 100dvw;
  margin-top: 20px;

  z-index: -2;
}

.form-header{
      text-align: left;
}

.form-container header h1 {
    color: #8C68DF;
    font-family: "Inter";
    font-size: 6dvw;
    font-weight: 600;
    margin-top: 300px;
    display: inline;
}

.form-container header p{
  color: #606372;
  font-size: 2dvw;
  margin-bottom: 50px;
  
}

.form-text{
  color: #41444F;
  font-size: 1.8dvw;
  
}

.contact-form {
  background-color: #181A1F;
  padding: 70px 40px 70px 40px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 70%;
  height: 100%;
  margin-bottom: 100px;
 
}
.contact-form header a img{
  width: 4dvw;
}

.contact-form input,.contact-form select,
.contact-form textarea {
  background-color: #232630;
  border: none;
  padding: 22px;
  border-radius: 10px;
  color: #888A8F;
  font-size: 1.2dvw;
  
}


.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #565A63;
}


.contact-form button {
  margin-top: 20px;
  background-color: #279AFA;
  border: 2px solid transparent;
  padding: 20px 40px;
  font-size: 1.3em;
  cursor: pointer;
  /* position: relative; */
  overflow: hidden;
  border-radius: 25px;
  transition: color 0.4s, border-color 0.4s;
  width:max-content;
  /* left: 50%; */
  color: #fff;
  display: flex;
  align-self: center ;
}

.contact-form button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
  background-color: #279AFA;
  transition: transform 0.4s;
  transition: all 0.2s ease-in-out;
  z-index: -1;
  border-radius: 5px;
}

.contact-form button:hover::before {
  transform: translateX(-50%);
}


.contact-form button:hover,
.contact-form button:hover {
  color: whitesmoke;
  background-color: #8C68DF;
  transform: scale(1.1);
} 


@media (max-width:768px) {
  .contact-form input,.contact-form select,
.contact-form textarea {
  padding: 15px;
  border-radius: 8px;
  font-size: 2.5dvw;
}

.form-text{
  font-size: 3dvw;
}

.contact-form button {
  
  padding: 2dvw 3.5dvh;
  font-size: 3dvw;
}
  
}
/*form css end*/

footer {
  background-color: #00181C;
  padding-top: 20px;
  padding-bottom: 50px;
  width: 100dvw;
  position: relative;
  bottom: 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  margin: auto;
}

.footer-content .logo img {
  width:120px;
}

.footer-links {
  display: flex;
  gap: 15px;
}

.footer-links a {
  color: #fff;
  font-size: 0.9em;
}

.footer-links a:hover {
  text-decoration: underline;
}

.social-media a img {
  width: 40px;
  height: 40px;
}

.team-body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000; /* Black background */
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
    flex-direction: column;
    margin-top: 20dvh;
    margin-bottom: 20dvh;
}

.team-section {
    text-align: center;
    padding: 10px;
}

.team-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 30px;
    max-width: 900px;
}

.team-member img {
    width: 100%;
    border-radius: 15px;
    transition: transform 0.3s;
}

.team-member img:hover {
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: #83B4FF 1px 0 10px;
    
}
.team-member:hover .overlay {
    opacity: 1;
}

.team-member .text {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

/* .team-member .mid-center {
    
    font-size: 50px;
    margin-bottom: 10px;
} */

.team-member h1 {
    width:200px;
    font-size: 35px;
    margin: 0;
}

.team-member p {
    margin: 10px 0 0;
    font-size: 1.2em;
    color: #bbb;
}



/* Specific placements for images */
.top-left {
    grid-area: 1 / 1 / 2 / 2;
    margin-left: 10px;
    margin-right: 40px;
}

.top-center {
    grid-area: 1 / 2 / 2 / 3;
    margin-left: 10px;
    margin-right: 40px;
}

.top-right {
    grid-area: 1 / 3 / 2 / 4;
    margin-left: 10px;
    margin-right: 40px;
}

.mid-left {
    grid-area: 2 / 1 / 3 / 2;
    margin-left: 10px;
    margin-right: 40px;
}

.mid-center {
    grid-area: 2 / 2 / 3 / 3;
    margin-left: 10px;
    margin-right: 40px;
}

.mid-right {
    grid-area: 2 / 3 / 3 / 4;
    margin-left: 10px;
    margin-right: 40px;
}

.bottom-left {
    grid-area: 3 / 1 / 4 / 2;
    margin-left: 10px;
    margin-right: 40px;
}

.bottom-right {
    grid-area: 3 / 3 / 4 / 4;
    margin-left: 10px;
    margin-right: 40px;
    
}


/* CONTAINER 6 CSS*/

.container-6{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  height: auto;
}

.cont-6-small{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: auto;
  flex-direction: column;
  
}

.cont-6-box-top{
  display: flex;
  width: 100%;
  height: 40%;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.cont-6-box-top h3{
  font-family: 'Inter';
  color: white;
  font-size: 4.5dvw;
}
.cont-6-box-bottom{
  display: flex;
  width: 100%;
  height: 60%;
  justify-content: space-between;
  align-items:center;
  flex-direction: row;
}
.step-box{
  height: 100%;
  width: 20%;
  flex: 1;
  padding: 20px;
  color: yellow;
  align-items:center;
  margin: 0; 
}

.step-box p:first-of-type{
  color: yellow;
  font-family: 'Caveat';
  font-weight: bold;
  font-size: 8dvw;
  margin: 0; 
  text-align:center;
  text-wrap:pretty;
}
.step-box p:nth-of-type(2){
  color: whitesmoke;
  font-family: 'Inter';
  font-size: 1.4dvw;
  margin: 0;
  text-align:center;
}




/* container-6 CSS end*/


/*container-7-CSS start*/

.container-7{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  height: 52dvh;
  margin-top: 60px; 
}

.cont-7-small{
  width: 60%;
  height: 90%;
  background-color: #F4F2EC;
  border-radius: 10px;
}

.cont-7-small p:first-of-type{
  color: #17573E;
  font-family: 'Inter';
  font-weight: bold;
  font-size: 3dvw;
  margin: 0; 
  text-align:center;
  text-wrap:wrap;
  margin: 5dvh 10dvw 0 10dvw;
  
}

.cont-7-small p:nth-of-type(2){
  color: #5F8871;
  font-family: 'Inter';
  font-weight: bold;
  font-size: 2dvw;
  margin: 0; 
  text-align:center;
  text-wrap:wrap;
  margin-bottom: 20px; 
  
}
@media (max-width: 768px) {
  .container-7{
    height: auto;
    margin-top: 40px; 
  }
}
